.about-main {
    padding: 20px;
  }
  
  .about-heading {
    font-size: 24px;
    font-weight: bold;
    color: #8d0707;
    margin-bottom: 10px;
  }
  
  .about-description {
    font-size: 16px;
    color: #ffffff;
    margin-bottom: 10px;
  }